{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.type }}" id="post-{{ post.id }}">
            <section class="article-content">
                <div class="article-body">{{ post.content }}</div>
            </section>
        </article>
    </div>
{% endblock %}
